{% extends "template.html" %}
{% block user %}
{% if username %}
<li style="float: right"><a href="/logout">Logout</a></li>
<li style="float: right">{{ username }}</li>
{% endif %}
{% endblock %}
{% block topmenulist %}
    <li><a href="/addTask">Add Task</a></li>
    <li><a href="/listTask">List Task</a></li>
    <li><a href="/addproject">Add Project</a></li>
    <li><a href="/listproject">List Project</a></li>
    <li><a href="/addemployee">Add Employee</a></li>
    <li><a href="/listemployee">List Employee</a></li>
{% endblock %}
{% block body %}

    <h2>Add Task</h2>

    <form method="POST">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name() }}
    {{ form.priority.label }} {{ form.priority(placeholder='') }}
    {{ form.projects.label }} {{ form.projects }}
         {% for error in form.errors.projects %}
             <span>{{error}}</span><br>
         {% endfor %}
    {{ form.submit() }}
    </form>

{% endblock %}