{% extends "template.html" %}
{% block topmenulist %}
    <li><a href="/addTask">Add Task</a></li>
    <li><a href="/listTask">List Task</a></li>
{% endblock %}
{% block body %}
<h2>TASKS</h2>
<table style="margin:0; padding:0">
    <tr><th>Name</th><th>Priority</th></tr>
    {% if tasks %}
    {% for task in tasks %}
    <tr>
        <td align="center">{{ task[1] }}</td>
        <td align="center">{{ task[2] }}</td>
        <td><a href="/deleteTask/{{task[0]}}">Delete</a> </td>
        <td><button type="button" onclick="toggleUpdateForm({{ task[0] }})">Update</button></td>
        <td>
            <form id="updateForm{{task[0]}}" method="POST" action="/updateTask/{{task[0]}}" style="display : none;">
                {{ form.csrf_token }}
                {{ form.name.label }} {{ form.name(placeholder=task[1]) }}
                {{ form.priority.label }} {{ form.priority(placeholder=task[2]) }}
                {{ form.submit() }}
            </form>
        </td>
    </tr>
     {% endfor %}
    {% endif %}
</table>
{% endblock %}

{% block script_block %}
    function toggleUpdateForm(id) {
    var x = document.getElementById("updateForm"+id);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
{% endblock %}