{% extends "template.html" %}
{% block topmenulist %}
<li><a href="/addcompany">Add Company</a></li>
<li><a href="/listcompanies">List Companies</a></li>
<li><a href="/selectcompany">Alter a Company</a></li>
{% endblock %}
{% block body %}
<h2>COMPANIES</h2>
<table style="margin:0; padding:0">
    <tr><th>Name</th><th>Number of Employees</th></tr>
    {% if informations %}
    {% for information in informations %}
    <tr><td align="center">{{ information[0] }}</td><td align="center">{{ information[1] }}</td></tr>
    {% endfor %}
    {% endif %}
</table>
{% endblock %}
