{% extends "template.html" %}
{% block topmenulist %}
    <li><a href="/addTask">Add Task</a></li>
    <li><a href="/listTask">List Task</a></li>
{% endblock %}
{% block body %}
<h2>TASKS</h2>
<table style="margin:0; padding:0">
    <tr><th>Name</th><th>Priority</th></tr>
    {% if tasks %}
    {% for task in tasks %}
    <tr>
        <td align="center">{{ task[1] }}</td>
        <td align="center">{{ task[2] }}</td>
        <td><a href="/deleteTask/{{task[0]}}">Delete</a> </td>
        <td><a href="<script type='text/javascript'>script code</script>/">Update</a> </td>

        <td><button type="button" onclick="toggle('updateForm');">Update</button></td>

    </tr>
        <tr>
            <td>
                <form id="updateForm" method="POST" style="visibility : visible;">
                    {{ form.csrf_token }}
                    {{ form.name.label }} {{ form.name(placeholder=task[1]) }}
                    {{ form.priority.label }} {{ form.priority(placeholder=task[2]) }}
                    {{ form.submit() }}
                </form>
            </td>
        </tr>
     {% endfor %}
    {% endif %}
</table>
{% endblock %}
