<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="../static/style.css" rel="stylesheet" type="text/css">
  </head>
  <body class="body">
  <div class="topmenu">
  	<div class="topmenu-top">
  		<ul>
  			<li>Anasayfa</li>
  			<li>Projeler</li>
  			<li>Yardım</li>
  		</ul>
  	</div>
  	<div class="topmenu-middle">
<div class="searchbar">
  	  <input type="text" placeholder="Ara..."></div>
  	<h1>ProjectEasy</h1>
</div>
  	<div class="topmenu-bottom">
  		<ul>
  			{% block topmenulist %}
  			{% endblock %}
  		</ul>
  	</div>
  </div>
  {% block body %}
  {% endblock %}
  </body>
</html>
